<h1>Attack Graph GUI</h1>

<h3>Input your raw data below:</h3>

<form method='POST'>
    <textarea cols='75' rows='20' name='data' placeholder="Paste your .dot data here">
        digraph G {
        	1 [label="1:execCode(fileServer,user):0",shape=diamond];
        	2 [label="2:RULE 3 (remote exploit for a client program):0",shape=ellipse];
        	3 [label="3:accessMaliciousInput(fileServer,victim_3,windows_2003_server):0",shape=diamond];
        	4 [label="4:RULE 22 (Browsing a malicious website):0",shape=ellipse];
        	5 [label="5:attackerLocated(internet):1",shape=box];
        	6 [label="6:hacl(fileServer,internet,httpProtocol,httpPort):1",shape=box];
        	7 [label="7:inCompetent(victim_3):1",shape=box];
        	8 [label="8:hasAccount(victim_3,fileServer,user):1",shape=box];
        	9 [label="9:vulExists(fileServer,'CVE-2010-0812',windows_2003_server,remoteClient,privEscalation):1",shape=box];
        	10 [label="10:execCode(webServer,apache):0",shape=diamond];
        	11 [label="11:RULE 2 (remote exploit of a server program):0",shape=ellipse];
        	12 [label="12:netAccess(webServer,tcp,80):0",shape=diamond];
        	13 [label="13:RULE 6 (direct network access):0",shape=ellipse];
        	14 [label="14:hacl(internet,webServer,tcp,80):1",shape=box];
        	15 [label="15:networkServiceInfo(webServer,httpd,tcp,80,apache):1",shape=box];
        	16 [label="16:vulExists(webServer,'CAN-2002-0392',httpd,remoteExploit,privEscalation):1",shape=box];
        	5 -> 	4;
        	6 -> 	4;
        	7 -> 	4;
        	4 -> 	3;
        	3 -> 	2;
        	8 -> 	2;
        	9 -> 	2;
        	2 -> 	1;
        	14 -> 	13;
        	5 -> 	13;
        	13 -> 	12;
        	12 -> 	11;
        	15 -> 	11;
        	16 -> 	11;
        	11 -> 	10;
        }
    </textarea>
    <textarea cols='75' rows='20' name='hacl' placeholder="Paste your hacl rules here">
        hacl(internet, webServer, tcp, 80).
        hacl(webServer, internet,  _, _).
        hacl(subnet_1, webServer, tcp, _).
        hacl(fileServer, internet, httpProtocol, httpPort).
        hacl(internet, fileServer, httpProtocol, httpPort).
    </textarea>
    </br>
    Warning: This will delete all previously entered data!!!
    </br>
    <input type="submit" value="Submit">
    {% csrf_token %}
</form>
