<h2>Devices:</h2>
<ul>
    {% for d in devices %}
        <li>
            <a href='{% url 'graph:device_results' d.name %}'>{{d.name}}</a>
        </li>
    {% endfor %}
    <li>
        <a href='{% url 'graph:results' %}'>all_devices</a>
    </li>
</ul>

{% block content %}
{% endblock content %}
